#Defaults
{% import_yaml "lvm/defaults.yaml" as defaults %}
{% import_yaml "lvm/osfamilymap.yaml" as osfamilymap %}

# Merge site-specific data
{% set lvm = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osfamilymap,
        merge=salt['pillar.get']('lvm', {}),
    ),
    base='lvm',
) %}

## legacy
{% set lvm_settings = lvm %}
